<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-6 col-10">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          {{'APP_NAME' | translate}}
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Set Your Password</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <input type="password" [(ngModel)] = "password" id="password-field" class="form-control" value="" name="password" (input)="passwordStraithMassage($event)" size="25" placeholder="Give new password " [ngModelOptions]="{standalone: true}">
              </div>
              <div class="align">
                <P *ngIf="straithMassage == 'Very Weak Password'"><i class="fas fa-times"></i> {{straithMassage}}</P>
                <P *ngIf="straithMassage == 'Medium Password'"><i class="fas fa-exclamation-triangle"></i> {{straithMassage}}</P>
                <P *ngIf="straithMassage == 'Strong Password'"><i class="fas fa-check"></i> {{straithMassage}}</P>
            </div>
              <div class="form-group">
                <input type="password" [(ngModel)] = "userPasswordContext.password" value="" (input)="matchedPassword($event)" id="passwordReset" class="form-control" size="25" placeholder="Give password again" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-right m-t-1">
                  <button [disabled]="!matchValidation" type="submit" class="btn button" (click)="resetPassword()">Reset Password</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="clearfix">
                        <div class="abc-checkbox widget-login-info text-left">
                          <P *ngIf="passwordMassage == 'Password did not matched'"><i class="fas fa-exclamation"></i> {{passwordMassage}}</P>
                          <P *ngIf="passwordMassage == 'Password matched'"><i class="fas fa-thumbs-up"></i> {{passwordMassage}}</P>
                        </div>
                    </div>
                </div>
            </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
   Odyssey Co. Inc.
  </footer>
</div>

 